<li><%= f.label :name %><%= f.text_field :name %></li>
<li><%= f.label :email %><%= f.text_field :email %></li>
<li><%= f.label :password %><%= f.password_field :password %></li>
<li><%= f.label :password_confirmation, "Confirm Password" %><%= f.password_field :password_confirmation %></li>