<section class="follow">
  <h1><%= @title %></h1>
  <% if @users.any? %>
  <ul class="follow">
    <%= render @users %>
  </ul>
  <% end %>
</section>

<section class="profile">
  <%= link_to gravatar_for(current_user, :size => 75), current_user %>
  <ul>
    <li class="name">Name: <strong><%= @user.name %></strong></li>
    <li class="link">URL: <strong><%= link_to user_path(@user), user_path(@user) %></strong></li>
    <li class="count"><%= pluralize(@user.microposts.count, "post") %></li>
    <li class="following"><a href="<%= following_user_path(@user) %>">Following <%= pluralize(@user.following.count, "user") %></a></li>
    <li class="followers"><a href="<%= followers_user_path(@user) %>">Followed by <%= pluralize(@user.followers.count, "user") %></a></li>
  </ul>
</section>