<section class="profile">
  <%= link_to gravatar_for(current_user, :size => 75), current_user %>
  <ul>
    <li class="name">Name: <strong><%= current_user.name %></strong></li>
    <li class="link">URL: <strong><%= link_to user_path(current_user), user_path(current_user) %></strong></li>
    <li class="count"><%= pluralize(current_user.microposts.count, "post") %></li>
    <% @user ||= current_user %>
    <li class="following"><a href="<%= following_user_path(@user) %>">Following <%= pluralize(@user.following.count, "user") %></a></li>
    <li class="followers"><a href="<%= followers_user_path(@user) %>">Followed by <%= pluralize(@user.followers.count, "user") %></a></li>
  </ul>
</section>